/* ------------------------------------------------------------------------ */
/* hugo-tufte.css */
/* Contains extensions to the original tufte.css styles to */
/* accomodate a blog-like site. */
/* ------------------------------------------------------------------------ */

/* When setting the primary font stack, apply it to the Pure grid units along */
/* with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use */
/* specific font stacks to ensure the greatest OS/browser compatibility. */
html, button, input, select, textarea, p, nav, section, article, header, footer, .pure-g [class *= "pure-u"] {
    font-family: "et-book", -apple-system, "San Francisco", "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue", "Lucida Grand", sans-serif;
}

/* Hugo code blocks are <pre><code class="language-$lang">...</code></pre> */
/*@media screen and (max-width: 760px) {
    pre code {
    }
}*/

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
}

pre code {
    width: 52.5%;
    font-size: 1.2rem;
    padding-left: 2.5%;
    display: block;
    overflow-x: scroll;
}

/*@media (max-width: 760px) {
    pre code {
        width: 90%;
        padding: 0;
    }
 }*/

body {
	padding-right: 2%;
	padding-left: 6%;
	margin: 0px;
	width: 92%;
}

.flex {
	display: flex;
}


/* ------------------------------------------------------------------------ */
/* Logo and place of content */
/* ------------------------------------------------------------------------ */
#logo {
	width: 16%;
	margin-right: 4%;
	float: left;
	padding: 6rem 0rem;
}

#content {
	width: 75%;
	margin-left: 20px;
}


/* ------------------------------------------------------------------------ */
/* Brand details, such as a sidebar or top display. */
/* ------------------------------------------------------------------------ */
header.brand{
    margin-top: 0.5em;
}

header.brand .brand-title {
	flex-grow: 1;
}

header.brand nav.menu {
	padding-left: 20px;
	flex-grow: 1;
}

/* Main brand title */
header.brand h1 {
    margin: 0;
    font-weight: 400;
    color: rgba(65, 70, 75, 1);
}

header.brand h2 {
    margin: 0;
    padding-top: 0rem;
    /*font-style: normal;*/
    /*font-weight: 200;*/
    color: rgba(100, 105, 110, 1);
}

header.brand hr {
    text-align: left;
    margin-left: 0;
    width: 75%;
    border-color: rgba(250, 250, 250, 0.25);
}

nav.menu ul {
    list-style: none;
    /*text-align:center;*/
    margin-top: 2.2rem;
    padding: 0;
    max-width: 45rem;
    /* Width is the same as tufte.css body */
    font-size: 1rem;
    width: 100%;
		text-align: right;
}

nav.menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-right: 1.5rem;
}

nav.menu li a {
    text-decoration: none;
    background: transparent;
    color: rgba(65, 70, 75, 1);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav.menu li a:hover,
nav.menu li a:active,
nav.menu li a:focus {
    background: inherit;
    color: darkgray;
}

/* ------------------------------------------------------------------------ */
/* Generic content, such as the index list pages */
/* ------------------------------------------------------------------------ */

/* Content Title styling.  This is mostly to avoid underlying links. */
h1.content-title {
    /*max-width: 50rem;*/
}
h1.content-title a:link,
h1.content-title a:visited {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
h1.content-title a:hover,
h1.content-title a:focus {
    color: darkgray;
}

/* Content meta-data such as author, publication date, etc. */
.content-meta {
    display: block;
    /*color: rgba(155, 155, 155, 1);*/
    color: rgba(100, 105, 110, 1);
    font-size: 1.1rem;
    margin-top: 1em;
}

.content-meta .author {
    /*color: rgb(90, 20, 55)*/
    color: rgba(65, 70, 75, 1);
}


.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.home-items {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: space-between;
	justify-content: space-around;
	flex-wrap: wrap;
}

.home-item {

  border: 1px solid #111;
	padding: 1rem;
	max-width: 28%;
	margin-bottom: 15px;
}
.home-item.red {
  border: 1px solid #9c0000;
}
.home-item.red h1 {
  color: #9c0000;
}
.home-item.green {
  border: 1px solid #007c1d;
}
.home-item.green h1 {
  color: #007c1d;
}
.home-item.blue {
  border: 1px solid #000e88;
}
.home-item.blue h1 {
  color: #000e88;
}

.home-item h1 {
	font-weight: 300;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-size: 2rem;
}

.home-item p {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* ------------------------------------------------------------------------ */
 /* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-page ul {
    list-style-type: none;
    margin: -0.25em;
    width: 87.5%;
    max-width: 45rem;
}
.list-page li {
    margin: 0;
    /*font-size: 95%;*/
}
.list-date {
  display: inline;
  font-size: 0.75em;
  /* padding-right: 2em; */
  /* margin-right: 2em; */
}

/* Table of Contents */
.toc summary {
    font-size: 1.5rem;
    margin-bottom: -1.5rem;
    padding-left: 0;
}

.toc {
	/*float: right;*/
	/*padding: 0rem 1rem 1rem 1rem;*/
    /*margin-top: 1rem;*/
	/*border-left: 1px solid #eee;*/
}

.toc ul {
	list-style: none;
	display: block;
	/*margin-top: 0.75rem;*/
	padding: 0;
    width: 87.5%;
}

.toc li {
    line-height: 0.5rem;
    margin: 1rem;
}

table {
    font-size: 1.4rem;
}

/* Footer, but with a different name to avoid conflicts with tufte.css */
footer.page-footer{
    padding-top: 1em;
    margin-top: 3em;
    color: #aaa;
    width: 95%;
    max-width: 45rem;
}
footer.page-footer p {
    font-size: 1.2rem;
    margin: 0em;
		width: 100%;
    /* light font looked odd on chrome */
    /*font-weight: lighter;*/
}
footer.page-footer a {
    color: rgba(65, 70, 75, 1);
    text-decoration: none;
    background: transparent;
}
footer.page-footer hr {
    text-align: left;
    margin-left: 0;
    width: 100%;
    border-color: rgba(250, 250, 250, 0.25);
}

footer.page-footer ul.page-footer-menu {
	list-style: none;
	display: block;
	/*text-align:center;*/
	margin: 0;
	padding: 0;
}

footer.page-footer-menu {
	width: 100%;
}

footer.page-footer ul.page-footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 55%;
}

.copyright {
}
.copyright p {
    font-size: 90%;
}

/* ------------------------------------------------------------------------ */
/* Post Archive. */
/* ------------------------------------------------------------------------ */
/* We utilize the html5 summary tags in order to create a post archive */
/* with built-in folding. */
details {
    border-radius: 3px;
}

details summary {
    vertical-align: top;
    padding: .3em .5em;
    outline: none;
    /*color: rgba(65, 70, 75, 1);*/
}

details summary.year {
    font-size: 1.5rem;
}

details[open] summary {
}



/* ------------------------------------------------------------------------ */
/*  MathJax styling
/* ------------------------------------------------------------------------ */
.MathJax {
    font: inherit;
    color: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
}

.MathJax_Display {
    font: inherit;
    color: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    padding-bottom: 1rem;
    /* max-width: 45rem; */
    overflow-x: auto;
    overflow-y: auto;
}




/* ------------------------------------------------------------------------ */
/* Responsive 
/* ------------------------------------------------------------------------ */
@media only screen and (max-width: 720px) {
	body {
		padding-left: 0px;
	}
	#logo {
		display: none;
	}
	#content {
		width: 95%;
	}

	header.brand nav.menu {
		padding: 0px;
	}

	header.brand nav.menu ul {
		text-align: left;
	}
}
