{{ partial "header.html" . }}

<body>
<div id="layout" class="pure-g">

{{ partial "logo.html" . }}

<article id="content" class="pure-u-1">
{{ partial "brand.html" . }}
  <section class="list-page">

{{ range sort .Paginator.Pages }}

	{{ partial "content.header.html" . }}
	{{ if .Summary }}
		<section>{{ .Summary }}</section>
	{{ end }}

{{ end }}

  </section>
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
