{{ partial "header.html" . }}

<body>

{{ partial "logo.html" . }}

<article id="content" class="pure-u-1">
{{ partial "brand.html" . }}
{{ partial "content.header.html" . }}
{{ partial "toc.html" . }}
<section>{{ .Content }}</section>
<section>
  {{ partial "disqus.html" . }}
  {{ partial "footer.html" . }}
</section>
</article>
</body>
</html>
