<footer class="page-footer">
		<hr>
		<ul class="page-footer-menu">
		{{ range .Site.Menus.footer }}
      <li><a href="{{.URL}}">{{.Pre }}{{ .Name }}</a></li>
		{{ end }}
		</ul>

  {{ if .Site.Params.showPoweredBy}}
    <p>
      Powered by <a href="https://gohugo.io">Hugo</a> and the
			<a href="https://github.com/shawnohare/hugo-tufte">Tufte theme</a>, <a href="https://framagit.org/kaouenn-noz/hugo-tufte-hugo">slightly modified</a>.
    </p>
  {{ end }}

	<div class="copyright">
	<p>
    {{ with .Site.Params.copyright }}
      {{ . | safeHTML }}
    {{ else }}
    {{ with .Site.Params.copyrightHolder }}{{ . }}{{end}}.
    {{end}}
  </p>
</div>
</footer>
{{ partial "body.includes.html" . }}
