{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">

{{ partial "logo.html" . }}

<article id="content" class="pure-u-1">
{{ partial "brand.html" . }}

<section class="home-items">
{{ range $index, $page := where (where .Site.RegularPages.ByWeight "Section" "home_items") ".Params.active" "!=" false }}
	{{ $params := dict "root" $ "page" $page }}
	{{ partial "home_items.html" $params }}
{{ end }}
</div>

{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
